@model IEnumerable<Diplom.Models.Arrival>

<p>
    <a asp-controller="VaultNotes" asp-action="Index" asp-route-IdVault="@ViewBag.IdVault">Вернуться к списку</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Название</th>
            <th>Количество</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

                <tr>
                    <td>
                        @item.Food.NameFood
                    </td>
                    <td>
                        @item.FoodCount
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a>
                    </td>
                </tr>

        }
    </tbody>
</table>