@model IEnumerable<Diplom.Models.ChildHouse>

<p>
    <a asp-action="Index" asp-controller="ProductConsumptions" asp-route-idVaultNote="@ViewBag.IdVaultNote">
        Вернуться к списку потребления продуктов
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Название
            </th>
            <th>
                Количество детей
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameHouse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChildCount)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> 
                
            </td>
        </tr>
}
    </tbody>
</table>

